body{
  background-image: url('../assets/images/j-lee-pr0I-DUB5eA-unsplash.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left:36%;
  padding-top:3.5rem;
  }
  
  .card{
      width:90%;
      max-width: 400px;
      padding-top:56px;
      padding-bottom:56px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius:1.5rem ;
      border: 1px solid transparent;
      backdrop-filter: blur(1rem);
      box-shadow: 1.3rem 1.3rem 1.3rem rgba(0 0 0 0.5);
      border-top-color:rgba(115, 159, 241, 0.5) ;
      border-bottom-color:rgba(115, 159, 241, 0.5) ;
      border-right-color:rgba(115, 159, 241, 0.5) ;
      border-left-color:rgba(115, 159, 241, 0.5) ;
      margin: 0 auto;
      margin-bottom: 10px; 
  }

  ::placeholder {
    color: #1e225c75; 
    position:relative;
    left: 30px;
    top: 0px;
    padding: 0 10px;
  }
   .input:focus {
    border-color: #8A6FF7;
   }

  .cb{
      background-color: rgba(225, 225, 225, 0.651);
  }
  
  .btn{
      border-radius: 2rem;
      color: #0611b4;
      font-family: georgia,garamond,serif;
  }
  
  .btn:hover{
      box-shadow: 0 0.3rem 1rem rgba(243, 139, 238, 0.664);
  }
  
  .card-text{
      color:#0611b4;
  }
  
  img{
      width: 70%;
      
  }

  .input{
    padding-bottom:5px;
    margin-bottom:12px; 
    font-family:georgia,garamond,serif;
    border-color: #8A6FF7;
  }